@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import "~bulma/sass/utilities/_all";

$orange: #FA8274;
$gray: #EEEEEE;
$black: #221933;

$primary: $orange;
$link: $black;
$body-background-color: $gray;
$section-padding: 0;
$section-padding-desktop: 0;
$section-padding-medium: 0;
$section-padding-large: 0;

@import "~bulma/bulma";